<div id="<%= dom_id question %>">
  <p>
    <strong>Questionnaire:</strong>
    <%= question.questionnaire_id %>
  </p>

  <p>
    <strong>Enunciation:</strong>
    <%= question.enunciation %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= question.deleted_at %>
  </p>

</div>
