<div id="<%= dom_id question_option %>">
  <p>
    <strong>Título:</strong>
    <%= question_option.title %>
  </p>
  <p>
    <strong>Correta:</strong>
    <%= question_option.is_correct %>
  </p>
</div>